<!DOCTYPE html>
<html>
	<head>
		<title>Author-@SatanWoo</title>
	</head>
	<body>
		<h1><%= title %></h1>
		<form method="post">
			Github Username: <input type="text" name="username" />
		</form>
	</body>
</html>